.photo {
  position: relative;
  float: left;
  padding: 3px;
}

.photo img {
  width: 300px;
  max-height: 300px;
}

#dropdown-filters {
  display:none;
}

@media (min-width: 768px) and (max-width: 991px) { 
  .photo img {
    width: 250px;
    max-height: 250px;
  }
}

@media (max-width: 768px) { 
  #dropdown-filters {
    display:block;
  }
  #filters {
    display:none;
  }
}


.photo > * {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.items:after {
  content: '';
  display: block;
  clear: both;
}

.heading {
  margin-top:30px;
}

.title {
  margin-bottom:50px;
  width:800px;
}

@media (max-width: 768px) { 
  .title {
    margin-bottom: 20px;
  }
  #dropdown-filters {
    padding-left: 5px;
  }
  #items {
    padding-left: 5px;
  }
  #title {
    padding-left: 5px;
  }
  
}


.photo_link {
}

#filters {
  position: fixed;
}

#dropdown-color-filter {
  margin-left:50px;
}

.mainimage {
  margin-top:40px;
}

.mainimage img {
  max-height: 650px;
}
