extends layout

block content
  h1.col-md-12.col-md-offset-4 Field Guide to the World
  .clearfix
  div.col-md-3
    h2 Animals
      h4.front 
        a(href="/birds/") Birds
      h4.front Mammals
      h4.front Bugs
      h4.front Tidepools
    h2 Plants
      h4.front Trees
      h4.front Flowers
      h4.front Green Plants
    h2 Earth
      h4.front Fossils
      h4.front Rocks
    h2 
      a(href="/infrastructure/") Infrastructure
      h4.front Power Grid
      h4.front Roadways
      h4.front Agriculture
    h2 Food
  div.col-md-9.mainimage
    img(src="/images/front.jpg")
  