extends layout

block content
  h1.col-md-12.col-md-offset-4 Field Guide to the World
  .clearfix
  div.col-md-3
    h2 Animals
      h4 
        a(href="/birds/") Birds
      h4 Mammals
      h4 Bugs
      h4 Tidepools
    h2 Plants
      h4 Trees
      h4 Flowers
      h4 Green Plants
    h2 Earth
      h4 Fossils
      h4 Rocks
    h2 
      a(href="/infrastructure/") Infrastructure
      h4 Power Grid
      h4 Roadways
      h4 Agriculture
    h2 Food
  div.col-md-9.mainimage
    img(src="/images/front.jpg")
  