extends layout

block content
  h2.col-xs-offset-1.col-xs-11.col-md-offset-1.col-md-11.title
    a(href='/birds/') Birds of the San Francisco Bay Area
  h2.col-xs-offset-1.col-xs-11.col-md-offset-1.col-md-11.title
    a(href='/infrastructure/') Infrastructure of the World
