doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/bootstrap.css')
      link(rel='stylesheet', href='/css/jquery.capty.css')
      link(href='http://fonts.googleapis.com/css?family=Hammersmith+One|Quattrocento+Sans:400,700', rel='stylesheet', type='text/css')

    block js
	  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js')
      script(src='/js/_bower.js')
      script(src='/js/main.js')
      script(src='/js/jquery.capty.min.js')
  body
    .container-fluid
      block content
